extends layout

block content
  h1= title
  p Welcome to #{title}

  p 使用方式：商品查询：proxy/product/search?page_index=1&page_size=10&last_update=201309-08T12:00:00
  p 使用方式：库存查询：proxy/product/stock?page_index=1&page_size=10&last_update=201309-08T12:00:00
  p @liangyali
